body {
  text-align: center;
}

.home-container{
  background: linear-gradient(110deg, #ffff 50%, rgb(147, 185, 241) 40%);
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

.home-img{
  height: 28rem;
  padding: 3rem;
}

.signup-form, .signin-form{
  padding-top: 2rem;
}